doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PLC_TEST
        link(href="./css/PLC.css" rel="stylesheet")
    body
        h1 PLC Communication Example
        div
            label(for='dataInput') Data to PLC:
            input#dataInput(type='number', placeholder='Enter data to send')
            button#sendDataBtn Send Data to PLC
        div#responseDiv
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script.
            function sendDataToPLC() {
                const dataToSend = parseInt($("#dataInput").val());

                $.ajax({
                    url: "/sendDataToPLC",
                    type: "POST",
                    contentType: "JSON",
                    data: JSON.stringify({ data: dataToSend }),
                    success: function(response) {
                        $("#responseDiv").text("Response from PLC: " + response);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error sending data to PLC:", status, error);
                        $("#responseDiv").text("Failed to send data to PLC");
                    }
                });
            }
            setInterval(sendDataToPLC, 5000);
